# ignore files in these directories
TFE/Development/Art/3D
TFE/Development/Code/build
TFE/Development/Code/info

Badges
Banners
BugReport
Chaos_Daemons
Directx9c
Drivers
DXP2
Engine
GraphicsOptions
Inquisition_Hunters
Logfiles
ModTools
MultiplayerCampaign
My_Mod
Patch
Playback
Profiles
readme_files
Redux
ScreenShots
Stats
Titanium_Wars_Mod
Tyranids
Tyranids_Art
Ultimateapocalypse_THB
Unification
VCRedist
W40k
xfire
CampaignMissions
CornCobMod
dawn_of_war_
DoW Mod Manager Resources
DowOnlineModStorage
dowonlineraceunlocker
DoWpro
FreeUI
HOTKEYS README
LastStand
objective_points_SS
objective_points_SS_UA
put me in ss
PutMyContentsInSSRoute
SurvivalMaps
UltimateApocalypse_Daemons
UltimateApocalypse_Inquisition
UltimateApocalypse_Tyranids
Unit_Swapper_Mod


# specific files
BsSndRpt.exe
Chaos_Daemons.module
dlltie.log
DXP2.module
DXP2Dummy.module
gp.info
GraphicsConfig.exe
GraphicsConfig.log
Inquisition_Hunters.module
Library.zip
libsquish.so
Local.ini
ModStudio.exe
MultiplayerCampaign.module
My_Mod.module
pipeline.ini
readme.html
reame_Texturetool.txt
Redux.module
regions.ini
Soulstorm.exe
steam_appid.txt
TextureTool.exe
TexturetoolPref.xml
TitaniumWars.module
Tyranids.module
Tyranids_Art.module
UltimateApocalypse_THB.module
Unification-v7.2.5-Uninstall.exe
Readme_TextureTool.txt
W40k.ini
W40k.module
W40kME.exe
warnings.log
autoexec.lua
CampaignMissions.module
CornCobMod.module
dawn_of_war_.module
DoWpro.module
dxhook.log
error.log
error.log.000
FreeUI.module
g4gb_patch.exe
gBsSndrpt.exe
gBsSndrpt.exe.dat
HOTKEYS README.zip
Inquisition_daemonhunt.module
LastStand.module
MODS For SS.zip
objective_points_UA.module
objective_points_ss.module
README.txt
SSStats.exe
SSStatsUninstaller.bat
SSStatsUpdater.exe
stats.ini
stats.log
SurvivalMaps.module
TFE_ReduxMaps.zip
tyranids.ico
Tyranids_GDM.module
TyranidsUninstall.exe
UA - THB Installation.txt
UA-Uninstall.exe
UltimateApocalypse_Daemons.module
UltimateApocalypse_Inquisition.module
UltimateApocalypse_THB_DIDHT.module
UltimateApocalypse_Tyranids.module
Uninstal.exe
UninstallDoWpro.exe
Unit_Swapper_Mod.module
update.log
W40k.ini.Backup
Witch_Hunters.module
things to do.txt


# for specific file types, use format *.filetype
*.blend
*.blend1
*.dll
*.vdf
*.vdf.bak
*.pyd
*.dat
*.lnk